{% extends "::base.html.twig" %}
{% block title %}
{{ 'canceled.payment'|babel }}
{% endblock %}
{% block body %}
    <h1>{{ 'canceled.payment'|babel }}</h1>
    <div class="alert alert-info">
        {{ 'payment.was.canceled'|babel }}
    </div>
{% endblock %}
