{% extends "::base.html.twig" %}
{% block title %}
{{ 'successful.payment'|babel }}
{% endblock %}
{% block body %}
    <h1>{{ 'successful.payment'|babel }}</h1>
    <div class="alert alert-success">
        {{ 'transaction.was.queued'|babel }}
    </div>
{% endblock %}
