{% extends "::base.html.twig" %}

{% block title %}{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block body %}
    <h2>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</h2>
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock body %}
