<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password user-form">
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary pull-right" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
