<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <script type="text/javascript" src="{{ url("default_head") }}"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <div id="banner">
        <script type="text/javascript">
            Acid.showZone(2, 960, 100); {{ 'cipka'|babel }}}
        </script>
    </div>
</body>
</html>