{% extends "::base.html.twig" %}
{% block title %}
{{ '__welcome'|trans({}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<blockquote class="span-7 push-2">Many a small thing has been made large by the right kind of advertising.
    <br/>
    <span class="right">&mdash; Mark Twain</span>
</blockquote>
{% endblock %}