{% extends "::base.html.twig" %}

{% block title %}{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block body %}
    <h2>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</h2>
    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock body %}
