{% extends "::base.html.twig" %}

{% block body %}
    <div class="info">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </div>
{% endblock body %}
