body {
    padding: 60px 0 20px 0;
}

ul.no-buttons {
    list-style-type: none;
}

menu, ul.no-buttons {
    margin: 0;
    padding: 0;
}

form.user-form {
    width: 450px;
    margin: auto;
    padding: 40px 0px;
}

form label{
    float: left;
    width: 150px;
    text-align: right;
    padding: 7px 5px 0 0;
}

form div {
    clear: both;
}

form#payment-form div#hyper_payment_form {
    float: left;
    width: 370px;
}

form#payment-form div {
    clear: none;
}

form input[type="submit"], form button[type="submit"] {
    position: relative;
    float: right;
    right: 88px;
}

ul form > button[type="submit"] {
    float: none;
    position: static;
}

.first-spanned-row > *:first-child, .last-zone > td, .first-spanned-row.first > td {
                         border-bottom: 1px solid #92CAE4;
                     }

.spanned-column {
    background: #D5EDF8;
}

form div > ul {
    list-style: none;
    float: right;
}

#tutorial {
    p, ul {
        font-family: 'Headland One', serif;
    }
}

.no-payment-possible {
    margin: 0;
    padding: 0;
}

#tutorial tbody tr:nth-child(2n) td, .cke_dialog_contents tbody tr:nth-child(2n) td {
    background: #FFF;
}

table label.table {
    float: none;
    margin-left: 9px;
    font-weight: normal;
    padding: 0;
}