label {
    width: 150px;
    float: left;
    padding: 3px 0 0 5px;
    border-width: 0 0 1px 1px;
    border-style: dotted;
    border-color: #CCCCCC;
}

.login-form label {
    float: none;
    border: 0;
}