{% extends "::base.html.twig" %}

{% block body %}
    <div class="alert alert-info">
        {{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
    </div>
{% endblock body %}
